@media (prefers-color-scheme: dark) {
:root {
  background-color: #111111;
  color: #ffffff;
}

a:hover {
  color: #22cccc;
}

button {
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}

button:hover {
  border-color: #000000;
  background-color: #cccccc;
  color: #000000;
}

input[type="range"] {
  background-color: #000000;
  border-color: #ffffff;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #119999;
  border-color: #000000;
}

input[type="range"]::-moz-range-thumb {
  background-color: #119999;
}

input[type="range"]::-ms-thumb {
  background-color: #119999;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-ms-thumb {
  background-color: #22cccc;
}

.won {
  color: #55ff55;
}
.lost {
  color: #ff5555;
}
.draw {
  color: #ffff55;
}
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #111111;
  }
  
  a:hover {
    color: #005555;
  }
  
  button {
    border-color: #111111;
    background-color: #eeeeee;
    color: #111111;
  }

  button:hover {
    border-color: #eeeeee;
    background-color: #111111;
    color: #eeeeee;
  }

  input[type="range"] {
    background-color: #eeeeee;
    border-color: #000000;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    background-color: #119999;
    border-color: black;
  }
  
  input[type="range"]::-moz-range-thumb {
    background-color: #119999;
  }
  
  input[type="range"]::-ms-thumb {
    background-color: #119999;
  }
  
  input[type="range"]:hover::-webkit-slider-thumb,
  input[type="range"]:hover::-moz-range-thumb,
  input[type="range"]:hover::-ms-thumb {
    background-color: #005555;
  }

  .won {
    color: #22cc22;
  }
  .lost {
    color: #ff5555;
  }
  .draw {
    color: #5555ff;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #119999;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  border-radius: 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}
button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="range"] {
  width: 30%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  appearance: none;
  border-width: 1px;
  border-style: solid;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
