:root {
  --background-color: #111111;
  --primary-color: #ffffff;
  --media-color: #119999;
  --media-hovered-color: #22cccc;
  --button-background-color: #000000;
  --button-hovered-background-color: #cccccc;
  --won-color: #55ff55;
  --lost-color: #ff5555;
  --draw-color: #ffff55;
}

:root.light-theme{
  --background-color: #ffffff;
  --primary-color: #111111;
  --media-color: #119999;
  --media-hovered-color: #005555;
  --button-background-color: #eeeeee;
  --button-hovered-background-color: #111111;
  --won-color: #22cc22;
  --lost-color: #ff5555;
  --draw-color: #5555ff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --primary-color: #111111;
    --media-color: #119999;
    --media-hovered-color: #005555;
    --button-background-color: #eeeeee;
    --button-hovered-background-color: #111111;
    --won-color: #22cc22;
    --lost-color: #ff5555;
    --draw-color: #5555ff;
  }

  :root.light-theme {
    --background-color: #111111;
    --primary-color: #ffffff;
    --media-color: #22cccc;
    --media-hovered-color: #119999;
    --button-background-color: #000000;
    --button-hovered-background-color: #cccccc;
    --won-color: #55ff55;
    --lost-color: #ff5555;
    --draw-color: #ffff55;
  }
}

:root {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.2s, color 0.2s;
}

a {
  font-weight: 500;
  color: var(--media-color);
  text-decoration: inherit;
  transition: color 0.2s;
}

a:hover {
  color: var(--media-hovered-color);
  transition: color 0.2s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.2s, color 0.2s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  border-radius: 5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-color: var(--primary-color);
  background-color: var(--button-background-color);
  color: var(--primary-color);
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

button:hover {
  border-color: var(--background-color);
  background-color: var(--button-hovered-background-color);
  color: var(--background-color);
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="range"] {
  width: 30%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  appearance: none;
  border-width: 1px;
  border-style: solid;
  background-color: var(--button-background-color);
  border-color: var(--primary-color);
  transition: background-color 0.2s, border-color 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  background-color: var(--media-color);
  border-color: var(--primary-color);
  transition: background-color 0.2s, border-color 0.2s;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--media-color);
  border-color: var(--primary-color);
  transition: background-color 0.2s, border-color 0.2s;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--media-color);
  border-color: var(--primary-color);
  transition: background-color 0.2s, border-color 0.2s;
}

.won {
  color: var(--won-color);
  transition: color 0.2s;
}

.draw {
  color: var(--draw-color);
  transition: color 0.2s;
}

.lost {
  color: var(--lost-color);
  transition: color 0.2s;
}